/* **
  // STYLES CCS //
  _________________
  
*/


/* **
  // VARIABLES //

  **
*/
:root {

  /* color shems */
  --black:  #000;
  --dGray:  #6b6b6b;
  --gray:   #cccccc;
  --white:  #fff;

  /* fonts & typography */
  --primary-font: "Big Shoulders", sans-serif;
  --secondary-font: "Geist Mono", monospace;

  --text-xs: 1.2rem;    /* 12px */
  --text-sm: 1.4rem;    /* 14px */
  --text-md: 1.6rem;    /* 16px */
  --text-lg: 1.8rem;    /* 24px */
  --text-xl: 2.4rem;    /* 28px */
  --text-2xl: 3rem;   /* 32px */
  --text-3xl: 3.6rem;   /* 36px */
}



/* **
  // RESET //

  **
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--secondary-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

li {list-style: none;}
a, button {
  all: unset;
  cursor: pointer;
}

input[type='button'] {
  all: unset;
  cursor: pointer;
}

body {
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--black);
  height: 1000px;
}



/* **/
/* **
  // HEADER //

  **
*/
header {
  padding: 16px;
  background-color: var(--black);
  position: fixed;
  width: 100%;
  top: 0;
}



.nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #c8c8c833;
}

a.logo {
  height: fit-content;
  width: fit-content;
  line-height: 0;

  & img {
    height: 24px;
  }
}

.display-style {
  display: none;
  padding: 6.5px;
  border: 1px solid var(--dGray);
}

.display {
  height: 32px;
  width: 62px;
  display: grid;
  place-items: center;
  font-weight: 500;
  text-transform: uppercase;
  transition: .25s ease;
}

.style-display-active {
  background-color: var(--white);
  color: var(--black);
}

.search-music-large {
  display: none;
  gap: 10px;
}

.add-movie-btn {
  display: none;
  place-items: center;
  height: 46px;
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #1c2189;
}

/* open close menu */
.menu-display-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 32px;
  width: 32px;
  position: relative;
}

.line {
  height: 2px;
  width: 20px;
  background-color: var(--white);
  transition: .25s ease;
}

.close-menu .two{width: 0;}
.close-menu .line {position: absolute;}
.close-menu .one {transform: rotate(45deg);}
.close-menu .three {transform: rotate(-45deg);}


.nav-list-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 64px;
  left: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  overflow: hidden;
  transition: .25s ease;
}

/* show menu */
.open-nav-menu {
  padding: 32px 16px;
  height: calc(100vh - 64px - 16px);
  opacity: 1;
}


.search-music-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--dGray);
}

.search-music label {
  text-transform: uppercase;
}

.search-music #search {
  width: 100%;
  height: 18px;
  padding: 0 10px;
  border: none;
  border-left: 2px solid var(--white);
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: var(--white);
}

.search-music #search:focus {
  outline: none;
}

.search-music input[type="button"] {
  font-size: inherit;
}

.nav-list {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 8px;
  height: 100%;
  font-size: var(--text-2xl);
  line-height: 3.2rem;
  text-transform: uppercase;
}

.polycies {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.polycies img.logo {
  width: 100%;
}

.polycies div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dGray);
}


@media screen and (min-width: 768px) {
  .search-music-mobile {display: none;}
  .display-style, 
  .search-music-large {display: flex;}

  .add-movie-btn {display: grid;}

  .nav-menu {max-width: 850px; margin: 0 auto; padding: 16px 32px;}
  .nav-list-container {
    top: 79px;
    height: 0;
  }
  
  .open-nav-menu {
    padding: 32px;
    height: calc(100vh - 94px - 16px);
  }
}